<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885128084409-vumfabvma76ctajlms9ff5vvf15rs6s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885128084409-vumfabvma76ctajlms9ff5vvf15rs6s2</string>
	<key>API_KEY</key>
	<string>AIzaSyAKj4_YoB6YEzYIt5vpMyuLUM0WR65c0Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>885128084409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignments</string>
	<key>PROJECT_ID</key>
	<string>assignment-be470</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-be470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885128084409:ios:16feee7ce48278d232d468</string>
</dict>
</plist>